@use "theme";

:host {
  display: flex;
  height: 38px;
  background: theme.$neutral-2;
  align-items: stretch;
  user-select: none;
}

.window-border {
  color: theme.$text-0;
  text-align: center;
  padding-top: 6px;
}

.window-buttons button {
  height: 100%;
  width: 40px;

    &.close:hover {
      background: #932e2e;
  }
}
