@use "./theme";
@use "./variables" as *;

input {
  background-color: theme.$neutral-3;
  color: theme.$text-2;
  font-size: $fontsize-small;
  font-weight: 500;
  border: none;
  padding: 3px 0px 3px 4px;
}

input[type=number]::-webkit-inner-spin-button {
  //...
}

select {
  background: theme.$neutral-2;
  color: theme.$text-0;
  border: none;

  option.active {
    color: theme.$accent-text;
  }
}

textarea {
  background-color: theme.$neutral-1;
  border: none;
}
