$neutral-0: #151617;
$neutral-1: #1b1d1f;
$neutral-2: #26292c;
$neutral-3: #3b4349;
$neutral-4: #464c50;
$neutral-5: #5a636b;
$neutral-6: #79838d;

$accent-0: #222d36;
$accent-1: #174e70;
$accent-4: #1d85b9;
$accent-5: #4da4d9;
$accent-text: #5cbcff;

$text-0: #cccccc;
$text-1: #ddd;
$text-2: #eaeaea;
$text-disabled: #EAEAEA84;
