@use "theme";

:host {
  display: flex;
}

.menu {
  position: relative;

  > button {
    height: 100%;
  }

  .menu-body {
    z-index: 100;
    position: absolute;
    box-shadow: 0 0 8px #0008;
    min-width: 100px;

    button {
      text-align: left;
    }
  }
}
