@use "color";
@use "variables" as *;

button {
    color: #eee;
    border: none;
    background-color: color.$neutral-3;
    border: 1px solid color.$neutral-1;
    padding: 6px 8px;
    font-size: $fontsize-small;
    font-weight: 500;

    &:hover {
        background-color: color.$accent-1;
        color: color.$text-2;
    }
}