$neutral-0: #0a0a0a;
$neutral-1: #1b1d1f;
$neutral-2: #26292c;
$neutral-3: #31363a;
$neutral-4: #4d545a;
$neutral-5: #5a636b;
$neutral-6: #79838d;

$accent-1: #1d8375;

$text-0: #cccccc;
$text-1: #ddd;
$text-2: #eaeaea;
