
.vbox,
.hbox {
    display: flex;

    &.center {
        justify-content: center;
    }

    &.center-items {
        align-items: center;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.end {
        justify-content: end;
    }
}

.gap-1 {
gap: 4px
}

.gap-2 {
gap: 8px
}

.gap-3 {
gap: 16px
}

.gap-4 {
  gap: 24px  
}

.gap-5 {
  gap: 32px  
}

.vbox {
    flex-direction: column;
}

.grow-1 {
    flex-grow: 1;
}

.grow-2 {
    flex-grow: 2;
}

.grow-3 {
    flex-grow: 3;
}