@use "color";
@use "variables" as *;

input {
    background-color: color.$neutral-4;
    color: color.$text-2;
    font-size: $fontsize-small;
    font-weight: 500;
    border: none;
    padding: 3px 0px 3px 4px;
}

input[type=number]::-webkit-inner-spin-button {
    //...
}

select {
    background: color.$neutral-2;
    color: color.$text-0;
    border: none;
}