.connection .main-path {
  fill: none;
  stroke-width: 3.5px;
  pointer-events: all;

  &:hover {
    stroke: red !important;
  }

}

:host {
  position: absolute;
  z-index: 3;
}

svg {
  overflow: visible !important;
  position: absolute;
  top: -8px;
  left: -240px; //TODO: his is ugly af - find better solution...
  pointer-events: none;
}
