@use "variables";
@use "theme";
@use "flex-layout";

button {
  color: #eee;
  background-color: theme.$neutral-3;
  border: 1px solid theme.$neutral-1;
  padding: 6px 8px;
  font-size: variables.$fontsize-small;
  font-weight: 500;
  transition: background-color 0.1s, color 0.1s;
  cursor: pointer;

  &:disabled {
    color: theme.$text-disabled;
  }

  &:hover:not(:disabled) {
    background-color: theme.$accent-1;
    color: theme.$text-2;
  }
}
