@use "theme";

:host {
  display: flex;
}

.output {
  font-family: monospace;
  background-color: theme.$neutral-1;
  padding: 8px 12px;
  height: 200px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  margin: 0;
  text-wrap: wrap;
  
  span {
    display: flex;
    flex-direction: column;
  }
}
